---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Realm Auctions - WoW Market Tracker">
  <div id="auctions-root"></div>
</Layout>

<script>
  import { createRoot } from 'react-dom/client';
  import { StrictMode } from 'react';
  import RealmAuctionsPage from '../components/RealmAuctionsPage';

  const root = createRoot(document.getElementById('auctions-root')!);
  root.render(
    <StrictMode>
      <RealmAuctionsPage />
    </StrictMode>
  );
</script>
