---
import Layout from '../layouts/Layout.astro';
import ReportsPage from '../components/ReportsPage';
---
<Layout title="Trade Reports">
  <body data-page="reports">
    <ReportsPage client:load />
  </body>
</Layout>
